#friends-display-link {
  text-align: center;
  display: block;
  padding: var(--horizontal-space);
  /* background-color: rgba(128, 128, 128, 0.05); */
  background-color: #fafafa;
  /* color: rgba(0, 0, 0, 0.7); */
  /* color: #535353; */
  font-weight: 600;
}
#friends-display-link i {
  color: #d5d5d5;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}
.friends-screen__chanel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}
