.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  padding-top: 40px;
  opacity: 0.75;
  align-items: center;
}
.screen-header__title {
  font-weight: 700;
  font-size: 33px;
}
.screen-header__icons span {
  margin-right: 10px;
  margin-left: 20px;
}

@keyframes rotateCog {
  from {
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1.5s linear infinite;
}
